/****************************************
  Reset
*****************************************/

html {
	color: #777777;
	font-family: 'Open Sans', Arial;
}

* {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

html, body { height: 100%; padding: 0; margin: 0; }
body { min-height: 100%; }
img { border: 0; }
a:focus, a:active, button:focus {
	outline: 0;
}


/****************************************
  Defaults
*****************************************/

a {
	color: #2E9AC2;
	text-decoration: none;
}

button {
	background-color: #2E9AC2;
	border-radius: 0.3rem;
	border: none;
	color: #FFFFFF;
	padding: 0.3rem 1rem;
}


/****************************************
  Compose
*****************************************/

.compose > div {
	margin-top: 0.6rem;
	text-align: right;
	display: none;
}

.compose textarea {
	border-radius: 0.3rem;
	background-color: #FFFFFF;
	border: 1px solid #C0E1ED;
	display: block;
	width: 100%;
	padding: 0.4rem;
	resize: none;
	height: 1.8em;
}

.compose textarea:focus {
	outline: none;
}

/**
 * Active State
 */
.compose.expand textarea {
	height: 5em;
}

.compose.expand > div {
	display: block;
}


/****************************************
  Tweet
*****************************************/

.tweet {
	overflow: hidden;
}

.tweet > img {
	display: block;
	float: left;
	width: 3.75rem;
	height: 3.75rem;
	background-color: #EEEEEE;
	border-radius: 0.4rem;
}

.tweet .body {
	margin-left: 3.75rem;
	padding-left: 0.6rem;
}

.tweet .title {
	font-weight: 700;
	color: #333333;
}

.tweet .message {
	margin-top: 0.6rem;
}


/****************************************
  Structure
*****************************************/

body {
	background: rgb(192, 222, 237) url('../images/bg.png') repeat-x;
}

section #main {
	width: 37.5rem;
	margin: 0 auto;
}

header {
	margin-top: 1.2rem;
	background-color: #E5F2F7;
	border: 1px solid #C0E1ED;
	border-radius: 0.6rem;
	padding: 0.6rem;
}

#tweets {
	margin-top: 0.6rem;
	background-color: #FFFFFF;
	border: 1px solid #C0E1ED;
	border-radius: 0.6rem;
	overflow: hidden;
}

/**
 * Thread / Replies
 */

.thread {
	border-bottom: 1px solid #E1E8ED;
}

.thread .tweet {
	margin: 0.6rem;
}

.replies {
	padding: 0.6rem;
	background-color: #E5F2F7;
	display: none;
}

.replies .compose {
	border-bottom: 1px solid #C4D8E6;
	padding-bottom: 0.6rem;
}

.thread.expand .replies {
	display: block;
}
